.calendar {
  text-align: center;
  font-family: sans-serif;
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;

  nav {
    display: flex;
    align-items: center;
    padding: 20px 0;
    h2 {
      margin: 0 auto 0 0;
    }

    button {
      cursor: pointer;
      background-color: transparent;
      border: 0;
      font-size: 20px;
    }
  }

  ol {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
    & > li {
      min-height: 100px;
      border: 1px solid rgba(black, 0.1);
      padding: 4px;
      color: black;
      font-weight: bold;
      &.days-of-week {
        min-height: unset;
        border: none;
        text-align: center;
        background-color: blue;
        color: white;
      }
      &.sibling-month {
        color: rgba(black, 0.4);
        cursor: pointer;
        background-color: rgba(#f0f0f0, 0.5);
      }
      &.current-month {
        position: relative;
        .add-event {
          cursor: pointer;
          display: none;
          position: absolute;
          font-size: 24px;
          right: 0px;
          padding: 2px 8px;
          color: #04415e;
          top: 0;
          transition: all 100ms ease-in-out;
          &:hover {
            color: #03a9f4;
            transform: rotate(90deg);
          }
        }
        &:hover {
          .add-event {
            display: inline-block;
          }
          .calendar-event:hover {
            transform: scale(1.05);
            box-shadow: 0 1px 4px 0px rgb(0 0 0 / 41%);
          }
        }
        ul {
          padding: 0 4px;
          max-height: 122px;
          overflow: auto;
          li.calendar-event {
            cursor: pointer;
            background-color: #f4f4f6;
            box-shadow: 0 1px 3px 0px rgb(0 0 0 / 41%);
            list-style-type: none;
            padding: 4px;
            font-weight: normal;
            transition: all 150ms ease-in-out;
            margin-bottom: 4px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 10px;
              height: 10px;
              top: 4px;
              font-size: 50px;
              right: 4px;
              border: 1px solid black;
              background-color: var(--bgcolor);
              border-radius: 50%;
            }

            .time {
              font-weight: bold;
              font-size: 10px;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
}
