<div class="calendar">
  <nav>
    <h2>{{ calendar.currentMonth.value.format("MMMM, yyyy") }}</h2>
    <div>
      <button (click)="prevMonth()" class="btn-prev">&lt;</button>
      <button (click)="nextMonth()" class="btn-next">&gt;</button>
    </div>
  </nav>
  <ol>
    <li *ngFor="let dayName of daysOfWeek" class="days-of-week">
      {{ dayName }}
    </li>

    <li
      *ngFor="let prev of calendar.previousMonth.days"
      (click)="prevMonth()"
      class="sibling-month"
    >
      <span>{{ prev }}</span>
    </li>

    <li
      *ngFor="let current of calendar.currentMonth.days | keyvalue: unsorted"
      class="current-month"
    >
      <div>
        {{ current.value.dayNumber }}
        <span class="add-event" (click)="addEvent(current.value)">+</span>
      </div>
      <ng-container *ngIf="current.value.events as events">
        <ul>
          <li
            class="calendar-event"
            *ngFor="let ev of events | sortBy: 'asc':'time'"
            [style.--bgcolor]="ev.color"
            (click)="editEvent(ev, current.value.id)"
          >
            <div class="time">{{ ev.time }}</div>
            {{ ev.reminder }}
          </li>
        </ul>
      </ng-container>
    </li>
    <li
      *ngFor="let next of calendar.nextMonth.days"
      (click)="nextMonth()"
      class="sibling-month"
    >
      <span>{{ next }}</span>
    </li>
  </ol>
</div>
